version: '2'
#networks: {}
volumes:
  node-red-eq3-data: {}
services:
  nodered:
    build: node-red-eq3
    privileged: true
    restart: always
    network_mode: host
    ports:
       - "1880:1880"
    volumes:
      - 'node-red-eq3-data:/data'
    labels:
      io.balena.features.kernel-modules: '1'
      io.balena.features.firmware: '1'
      io.balena.features.dbus: '1'
      io.balena.features.supervisor-api: '1'
      io.balena.features.balena-api: '1'
      io.balena.update.strategy: download-then-kill
      io.balena.update.handover-timeout: ''
  nginx:
    build : nginx
    depends_on:
      - nodered
    ports:
       - "80:80"
       - "443:443"
    restart: always
